USE MASTER;

CREATE DATABASE [LibraryManagementBD];

USE [LibraryManagementBD]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 2/9/2020 3:49:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [varchar](50) NOT NULL,
	[DescripTion] [varchar](max) NULL,
	[ImageUrl] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2/9/2020 3:49:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookTitle] [varchar](200) NULL,
	[ISBN] [varchar](50) NULL,
	[AuthorID] [int] NULL,
	[DepartmentID] [int] NULL,
	[NoOfPage] [int] NULL,
	[PublisherID] [int] NULL,
	[ImageUrl] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2/9/2020 3:49:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](200) NOT NULL,
	[FacultyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 2/9/2020 3:49:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[FacultyID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyName] [varchar](100) NOT NULL,
	[Description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 2/9/2020 3:49:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorID], [AuthorName], [DescripTion], [ImageUrl]) VALUES (1, N'G.B.Shaw', N'George Bernard Shaw, known at his insistence simply as Bernard Shaw, was an Irish playwright, critic, polemicist and political activist. His influence on Western theatre, culture and politics extended from the 1880s to his death and beyond.', N'~/Images/Author/G.B.Shaw.jpg')
INSERT [dbo].[Author] ([AuthorID], [AuthorName], [DescripTion], [ImageUrl]) VALUES (2, N'William Shakespere', N'William Shakespeare was an English poet, playwright, and actor, widely regarded as the greatest writer in the English language and the world’s greatest dramatist.He is often called England’s national poet and the "Bard of Avon".', N'~/Images/Author/William Shakespere.jpg')
INSERT [dbo].[Author] ([AuthorID], [AuthorName], [DescripTion], [ImageUrl]) VALUES (3, N'Rabindranath Tagor', N'Rabindranath Tagore FRAS, also known by his pen name Bhanu Singha Thakur, and also known by his sobriquets Gurudev, Kabiguru, and Biswakabi, was a polymath, poet, musician, and artist from the Indian subcontinent.', N'~/Images/Author/Rabindranath Tagor.Jpg')
SET IDENTITY_INSERT [dbo].[Author] OFF
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [BookTitle], [ISBN], [AuthorID], [DepartmentID], [NoOfPage], [PublisherID], [ImageUrl]) VALUES (1, N'The Bluest Eye', N'O-671-854216', 5, 2, 230, 7, N'~/Images/Books/The Bluest Eye.jpg')
INSERT [dbo].[Books] ([BookID], [BookTitle], [ISBN], [AuthorID], [DepartmentID], [NoOfPage], [PublisherID], [ImageUrl]) VALUES (2, N'Major Barbara', N'1-875-2545-5', 1, 1, 200, 7, N'~/Images/Books/Major Barbara.jpg')
INSERT [dbo].[Books] ([BookID], [BookTitle], [ISBN], [AuthorID], [DepartmentID], [NoOfPage], [PublisherID], [ImageUrl]) VALUES (3, N'Mrityukshuda', N'O-688-1433-4', 6, 1, 150, 1, N'~/Images/Books/Mrityukshuda.jpg')
SET IDENTITY_INSERT [dbo].[Books] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [FacultyID]) VALUES (1, N'Bengali', 1)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [FacultyID]) VALUES (2, N'English', 1)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [FacultyID]) VALUES (3, N'Geology', 7)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Faculty] ON 

INSERT [dbo].[Faculty] ([FacultyID], [FacultyName], [Description]) VALUES (1, N'Faculty of Arts', N'Established in 1995, the Faculty of Arts, one of the largest faculties of the university, consists of Eleven Departments.')
INSERT [dbo].[Faculty] ([FacultyID], [FacultyName], [Description]) VALUES (2, N'Faculty of Science', N'SR University opened its doors to the students on the 1st July 1995 with only three faculties, namely the Faculty of Science, Faculty of Arts and the Faculty of Law. The Faculty of Science started its journey with only three departments namely, Physics, Mathematics and Chemistry.')
INSERT [dbo].[Faculty] ([FacultyID], [FacultyName], [Description]) VALUES (3, N'Faculty of Business Studies', N'As you are reading this message, I assume that you are probably new to the University of SR and want to evaluate whether this is a place that will cater to all your requirements.')
SET IDENTITY_INSERT [dbo].[Faculty] OFF
SET IDENTITY_INSERT [dbo].[Publisher] ON 

INSERT [dbo].[Publisher] ([PublisherID], [PublisherName]) VALUES (1, N'Somoy Prokashon')
INSERT [dbo].[Publisher] ([PublisherID], [PublisherName]) VALUES (2, N'Agamee Prakshani')
INSERT [dbo].[Publisher] ([PublisherID], [PublisherName]) VALUES (3, N'Lyall Publication')
SET IDENTITY_INSERT [dbo].[Publisher] OFF
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([AuthorID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publisher] ([PublisherID])
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculty] ([FacultyID])
GO
